
# IDEs and editors
.idea/
*.log
*.orig
log
.jshintrc


# dependencies
node_modules/
/dist
/build


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode
.vscode-upload.json

# System Files
.DS_Store
Thumbs.db
